<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.piratemedia.lightcontroler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="tv.piratemedia.lightcontroler.api" />

    <permission
        android:name="tv.piratemedia.lightcontroler.api"
        android:description="@string/api_description"
        android:label="@string/api_name"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/ic_launcher_rounded"
        android:label="@string/app_name"
        android:theme="@style/LightController">

        <!-- android:backupAgent="LCBackupAgent" -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIb0-S1PPn7w6c-GnAr1gF5Pjnwru29t2s8hc5xQ" />

        <activity
            android:name=".controller"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controlPreferences"
            android:icon="@drawable/icon"
            android:roundIcon="@drawable/ic_launcher_rounded"
            android:label="@string/app_settings"
            android:parentActivityName=".controller" />
        <activity
            android:name=".switchWidgetConfig"
            android:icon="@drawable/icon"
            android:roundIcon="@drawable/ic_launcher_rounded"
            android:label="@string/app_widget_settings"
            android:parentActivityName=".controller">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controlWidgetConfig"
            android:icon="@drawable/icon"
            android:roundIcon="@drawable/ic_launcher_rounded"
            android:label="@string/app_widget_settings"
            android:parentActivityName=".controller">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:name=".controlWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/control_appwidget_info" />
        </receiver>
        <service
            android:name=".ClockUpdateService"
            android:exported="false">
            <intent-filter>
                <action android:name="tv.piratemedia.lightcontroler.clock.action.UPDATE" />
            </intent-filter>
        </service>
        <service android:name=".notificationService">
            <intent-filter>
                <action android:name="tv.piratemedia.lightcontroller.service.start" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </service>
        <service android:name=".wear.DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
            </intent-filter>
        </service>

        <receiver android:name=".wear.wifiConnectionListener">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".switchWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/switch_widget_info" />
        </receiver>

        <activity
            android:name=".api.APIZoneSelector"
            android:label="Zone Select"
            android:permission="tv.piratemedia.lightcontroler.api"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zoneSetupWizard"
            android:label="Setup Wizard"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".controller">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".zoneSetup"
            android:label="Zone Setup"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".zoneSetupWizard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".api.APIPermissionManager"
            android:label="Permission Manager"
            android:theme="@style/LightController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wear.WearSettings"
            android:label="Wear Settings"
            android:theme="@style/LightController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".api.APIReciever"
            android:permission="tv.piratemedia.lightcontroler.api">
            <intent-filter>
                <action android:name="tv.piratemedia.lightcontroler.requestAPIPermission" />
                <action android:name="tv.piratemedia.lightcontroler.LightOn" />
                <action android:name="tv.piratemedia.lightcontroler.LightOff" />
                <action android:name="tv.piratemedia.lightcontroler.LightColor" />
                <action android:name="tv.piratemedia.lightcontroler.LightDefault" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".api.AppReciever"
            android:permission="tv.piratemedia.lightcontroler.api">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".pebble.pebbleReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />
                <action android:name="com.getpebble.action.app.RECEIVE_ACK" />
                <action android:name="com.getpebble.action.app.RECEIVE_NACK" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".api.APIProvider"
            android:authorities="tv.piratemedia.lightcontroler.api"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="@string/app_name"
            android:readPermission="tv.piratemedia.lightcontroler.api" />
    </application>

</manifest>