<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.piratemedia.lightcontroler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Lightcontroller" >
        <activity
            android:name="tv.piratemedia.lightcontroler.controller"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tv.piratemedia.lightcontroler.controlPreferences"
            android:parentActivityName="tv.piratemedia.lightcontroler.controller">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:name=".controlWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/control_appwidget_info" />
        </receiver>
        <service android:name=".controlWidgetProvider$ClockUpdateService" android:exported="false">
            <intent-filter>
                <action android:name="tv.piratemedia.lightcontroler.clock.action.UPDATE" />
            </intent-filter>
        </service>

        <activity android:name="com.instabug.wrapper.impl.v14.InstabugAnnotationActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Lightcontroller"/>
        <service android:name="com.instabug.library.network.UploadCacheService"/>
        <receiver android:name="com.instabug.library.network.InstabugNetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.instabug.DevelopmentAppToken" android:value="03e7f2c6fe7535e249bb72f8955f058f"/>
        <meta-data android:name="com.instabug.ProductionMode" android:value="false"/>

    </application>

</manifest>
